<!--/*
    リンクURL式
    「送信」ボタンをクリックすると、入力フォームの値をPOSTメソッドでoutputに送信する.

    パラメータ previous に値が設定されていたら「前回入力された値は「{previousの値}」でした。」と表示する。
    ※{previousの値}の部分は、実際のpreviousの値を表示する
*/-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai of Thymeleaf</title>
</head>
<body>
    <h1 th:text="#{content.title}">Thymeleaf Page</h1>
    <h2 th:text="#{content.nyuryoku}"></h2>
    <p th:text="#{content.atai}"></p>
    <form method="post" action="/output">
        <input type="text" name="val">
        <button type="submit">送信</button>
    </form>

<!--/*
    <div th:switch="${previous}">
    <p th:case="input" th:text="''"></p>
    <p th:case="*" th:text="'前回入力された値は「」でした。'"</p>
    </div>
*/-->

</body>
</html>