<!--/*
    リンクURL式
    入力画面で入力された値を画面に表示する
    「入力画面へ戻る」リンクをクリックすると、/inputに遷移する。
    その際、入力画面から受け取った値をパラメータpreviousで渡す
*/-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Kadai of Thymeleaf</title>
</head>
<body>
    <h1>Thymeleaf Page</h1>
    <p th:text="'入力された値は「' + ${valIn} + '」です。'"></p>
    <p><a th:href="@{/input(previous=${valIn})}">入力画面に戻る</a></p>

<!--/*
    <p><a th:href="@{/input?previous={aid}(aid=${valIn})}">入力画面に戻る</a></p>
*/-->

</body>
</html>